.cardImage {
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin: 0px;
    text-decoration: none;
}

.socials > .socialLink{
	color: grey;
    margin: 8px;
    justify-content: center;
}

.socials > .socialLink:hover{
    color: rgb(75, 0, 141);
}

.nameLink{
    text-decoration: none;
    color: black;
}

.nameLink:hover{
    text-decoration: none;
}

/* Error page stilius*/

.divErr{
    margin-top: 10px;
  } 
  
  .h1Err{
    font-size: 80px;
    color: #007280;
    font-weight: 550;
  }
  
  .pErr{
    font-size: 30px;
    text-transform: uppercase;
    font-family: Tahoma;
    font-weight: bold;
    color: rgb(82, 82, 82);
  }
  
  .aErr{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-decoration: none;
    color: #007280;
    font-weight: 550;
  }
  
  .imgErr{
    width: 100%;
  }
  
  