.form{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 20rem;
    color: grey;
    gap: 5px;
    padding: 50px;
}

.h1{
    color: rgb(87, 87, 87);
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.div{
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.label{
    font-size: 1.1rem;
    font-style: normal;
    color: rgb(87, 87, 87);
    padding-bottom: 5px;
    margin-left: 10px;
}

.input{
    /* padding: 1em 1em; */
    font-size: 1.3rem;
    line-height: 1.2em;
    background-color: rgb(192, 206, 255);
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #007782;
    border-radius: 0.3em;
    padding: 5px 5px;
    color: white;
    border: 0.2rem solid #007782;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.error{
    color: #007782;
    background-color: aliceblue;
    padding: 0.2em 0.5em;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 24px;
    margin-top: 10px;
}

.eyeInput{
    display: flex;
    width: 10px;
}

.eyeIcon{
    display: flex;
    background-color: #00778225;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 50px;
    border-radius: 20px;
    margin: 8px;
}